In [40]:
import pandas as pd

In [41]:
data = pd.read_csv("SongsData.csv")
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Artist      700 non-null    object
 1   Song Title  700 non-null    object
 2   Genre       700 non-null    object
 3   Lyrics      648 non-null    object
dtypes: object(4)
memory usage: 22.0+ KB

,Artist,Song Title,Genre,Lyrics
count,700,700,700,648
unique,14,585,35,523
top,Eminem,Love,Hip Hop,I've been reading books of old\nThe legends an...
freq,99,3,214,5

# Count of All Genres

In [42]:
count_genres = data['Genre'].value_counts()
count_genres

Genre
Hip Hop              214
Pop                  192
Alternative           80
Rap                   36
Rock                  36
Holiday               19
Dirty South           18
R&B                   17
West Coast Rap        16
Gospel                16
Electronic             7
Adult Alternative      5
Alternative Rap        5
Hardcore Rap           4
Soundtrack             4
Arena Rock             3
British Invasion       3
Indie Rock             2
Latin                  2
Spoken Word            2
Downtempo              2
College Rock           2
Soft Rock              2
Salsa y Tropical       2
Psychedelic            1
Electronica            1
Disco                  1
Hard Rock              1
Blues                  1
Rock & Roll            1
Folk-Rock              1
French Pop             1
Roots Rock             1
Contemporary R&B       1
Soul                   1
Name: count, dtype: int64

# Categorizing Genres

In [43]:
# Define a function to categorize genres
def categorize_genre(genre):
    hip_hop_genres = ['Hip Hop', 'Rap', 'Dirty South', 'West Coast Rap', 'Hardcore Rap', 'Alternative Rap']
    rock_genres = ['Alternative', 'Rock', 'Arena Rock', 'British Invasion', 'Indie Rock', 'Psychedelic', 'Hard Rock', 'Rock & Roll', 'Folk-Rock', 'Roots Rock']
    pop_genres = ['Pop', 'Holiday', 'Electronic', 'Adult Alternative', 'Soundtrack', 'College Rock', 'Soft Rock', 'Salsa y Tropical', 'Disco', 'French Pop', 'Contemporary R&B', 'Soul']

    if genre in hip_hop_genres:
        return 'Hip Hop'
    elif genre in rock_genres:
        return 'Rock'
    elif genre in pop_genres:
        return 'Pop'
    else:
        return 'None' 

# Apply the categorization function to the 'genre' column
data['category'] = data['Genre'].apply(categorize_genre)

In [44]:
data['category'].value_counts()

category
Hip Hop    293
Pop        237
Rock       129
None        41
Name: count, dtype: int64